@import "../../../styles/variables.scss";

$originalScale: 1;
$finalScale: 1.04;
$initialScale: 1.1;

.container {
  animation-name: initial-zoom;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.background-image {
  transform: scale($finalScale);
  background-position: center center;
  background-size: cover;
  animation-name: image-zoom;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.body-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.body {
  margin: 0 auto;
  padding: 0 0 1rem;
  min-width: 380px;
  max-width: 1300px;
  width: 100%;
  border-radius: $main-radius;
}

.body-title {
  padding: 0.5rem 1rem 0;
  text-align: center;
}

.body-main {
  padding: 0.5rem;
  display: grid;
}

.body-main-lg {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}

.body-main-sm {
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

.benefits-box-shadow-light {
  box-shadow: 1px 1px 1px 0px $light-border-color-primary;
  border: 1px solid $light-border-color-primary;
}

.benefits-box-shadow-dark {
  box-shadow: 1px 1px 1px 0px $dark-border-color-primary;
  border: 1px solid $dark-border-color-primary;
}

.body-benefits {
  border-radius: $main-radius;
  margin: 0.5rem;
  padding: 0.5rem;
}

.body-benefits-title {
  text-align: center;
  margin: 0.5rem 0 0;
  font-size: 1.17rem !important;
}

.body-benefits-body {
  border-radius: $main-radius;
  padding: 0.5rem;
}

.benefit-item {
  /* padding: 0.8rem; */
}

.benefit-item-open-button {
  cursor: pointer;
  transition: background-color 0.65s;
  border-radius: $main-radius;
  margin-bottom: 0.45rem;
  display: grid;
  grid-template-columns: 1fr auto;
}

.button-hover-bck-light {
  &:hover {
    background-color: $light-background-secondary;
  }
}

.button-hover-bck-dark {
  &:hover {
    background-color: $dark-background-secondary;
  }
}

.benefit-item-title {
  padding: 0 0.5rem;
  font-weight: 500;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  font-size: 1.1rem;
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.benefit-item-icon-container {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefit-item-body {
  border-radius: $main-radius;
  margin-bottom: 0.45rem;
  padding: 0.8rem;
  & > p {
    text-align: center;
    margin: 0.35rem;
  }
}

.benefit-item-body-text {
  transition: opacity 1s;
  font-size: 0.9rem;
}

@keyframes initial-zoom {
  0% {
    transform: scale($finalScale);
  }
  100% {
    transform: scale($originalScale);
  }
}

@keyframes image-zoom {
  0% {
    transform: scale($initialScale);
  }
  50% {
    transform: scale($finalScale);
  }
  100% {
    transform: scale($initialScale);
  }
}
